<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back-sharp"></ion-icon>

      </ion-button>
    </ion-buttons>
    <ion-title style="font-size: Nunito;">History of Scans</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div>
    <ion-textarea id="inputDescription1" rows="20" [(ngModel)]="text" placeholder="History of all images"></ion-textarea>
  </div> -->
  <ion-card *ngFor="let item of arr_of_scans" >
    <ion-card-content >

        <ion-text (click)="delete(item.id)" style="font-size: Nunito; " >
          <!-- {{item.id}} -->
          {{item.text}}
        </ion-text>

    </ion-card-content>
  </ion-card>
</ion-content>
