<ion-header [translucent]="true">
  <ion-toolbar color="success" >

    <ion-title style="font-size: Nunito;">
      ImageScanner
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="open_second_page()" style="font-size: Nunito;">
        History
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="color: #f6f7f2; background :#f6f7f2;" >
  <ion-button expand="full" (click)="takePicture()" color="success"
  style="font-family: Nunito;"
  >CaptureImage</ion-button>

  <div class="center">
    <ion-img [src]="selectedImage" class="ion-align-self-end" *ngIf="selectedImage" style="height: 20%;">
    </ion-img>
  </div>

  <!-- <ion-card-header>
  Output of Image will be shown here
</ion-card-header> -->
  <ion-card>
      <!-- #myInput id="myInput" rows="2" -->
    <ion-card-content item-text-wrap >
     <!-- <ion-text-area [(ngModel)]="text" id="myInput" rows="2" autoresize style="font-family: Nunito-light;">

     </ion-text-area> -->

      <ion-text
        placeholder="Output of the Image show here click to expand field">
           {{text}}
    </ion-text>

    </ion-card-content>
  </ion-card>

</ion-content>
<ion-footer>
  <ion-toolbar color="success">

    <ion-buttons >
      <ion-button style="margin-left: 40px; height: 56px; width: 50px;"
      (click)="Share()"
      [disabled]="!show_opt">
        <ion-icon name="share-social-outline"></ion-icon>
      </ion-button>

      <ion-button style="margin-left: 40px; height: 56px; width: 50px;"
      (click)="copytoClip()"
      [disabled]="!show_opt">
        <ion-icon name="clipboard-outline"></ion-icon>
      </ion-button>
      <ion-button style="margin-left: 40px; height: 56px; width: 50px;"
      (click)="shareviaemail()"
      [disabled]="!show_opt">
        <ion-icon name="mail-outline"></ion-icon>
      </ion-button>
      <ion-button style="margin-left: 40px; height: 56px; width: 50px;"
      (click)="savetodb()"
      [disabled]="!show_save">
        <ion-icon name="save-outline"></ion-icon>
      </ion-button>

    </ion-buttons>


  </ion-toolbar>
</ion-footer>
