#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.center{
  display: block;
  margin: auto;
  width: 50%;
 // height: 50%;
}
// #myInput {

//   width: calc(100% - 10px);
//   height: auto;
//  // border: 0;
//  // border-radius: 0;
//   background: transparent;
// // }
// .col-static{
//   position:relative;
// }

// .col-static .eye-icon {
//   position:absolute;
//   top:50%;
//   right:10px;
//   transform:translateY(-50%);
//   -webkit-transform:translateY(-50%);
//   -moz-transform:translateY(-50%);
// }
